@model IList<Beepas.Web.Classes.Entities.Hive>

@{
    ViewBag.Title = "Пасека";
    Layout = "ApiaryLayout.cshtml";
}

<table class="system">
    <thead>
        <tr>
            <th>
                ИД
            </th>
            <th>
                Уровень
            </th>
            <th>
                Меда
            </th>
            <th>
                Вместимость
            </th>
            <th>
                Свободно
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var hive in Model)
            {
                <tr>
                    <td>
                        @hive.Id
                    </td>
                    <td>
                        @hive.HiveType.Level
                    </td>
                    <td>
                        @hive.CurrentHoney.ToString("0")
                    </td>
                    <td>
                        @hive.HiveType.Capacity.ToString("0")
                    </td>
                    <td>
                        @((hive.HiveType.Capacity - hive.CurrentHoney).ToString("0"))
                    </td>
                    <td>
                        <a href="/apiary/hives/collect/@hive.Id">Собрать мед</a><br/>
                        <a href="/apiary/hives/upgrade/@hive.Id">Улучшить</a><br/>
                        @if (!hive.HasAutoCollector)
                        {
                            <a href="/apiary/hives/buy-auto-collector/@hive.Id">Купить авто сборщик</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td align="center" colspan="6">Нет ульев</td>
            </tr>
        }
    </tbody>
</table>